<h1>Index view</h1>

<div id="restaurants">
  <% @restaurants.each do |restaurant| %>
  <%# raise %>
  <%= render restaurant %>
  <p><%= link_to "Show this restaurant", restaurant %></p>
  <% end %>
</div>

<%= link_to "Add a new restaurant", new_restaurant_path %>
